INSTALL
Makefile
Makefile.in
Makefile.in.in
aclocal.m4
autom4te.cache
config.guess
config.h*
config.log
config.status
config.sub
configure
*.edj
depcomp
install-sh
libtool
ltmain.sh
m4
missing
po/POTFILES
po/stamp-it
.deps
*.o
stamp-h1
src/.vala.stamp
src/mokophone
src/mokophone-service.c
src/mokophone-service.h
